* { box-sizing: border-box; }

html { background: #ba2a23; }

body {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  background: #fbfafa;
  font-family: "Yu Mincho","Hiragino Mincho ProN","Hiragino Mincho Pro", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.omikuji {
  text-align: center;
  padding: 15px;
  border: double 18px #f10f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.omikuji-headline {
  margin: 0 0 30px;
  font-size: 32px;
  background: #E93429;
  color: #fdfdfc;
  font-weight: bold;
  padding: 8px 0;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  5% { transform: rotate(10deg); }
  10% { transform: rotate(-10deg); }
  15% { transform: rotate(10deg); }
  20% { transform: rotate(-10deg); }
  25% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.omikuji-result {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.omikuji-result img {
  max-width: 95%;
  height: auto;
  object-fit: contain;
  max-height: 350px;
  border-radius: 5px;
}

.omikuji-button {
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  background: #E93429;
  color: #fff;
  border: double 8px #fff;
  font-weight: bold;
  font-size: 26px;
  transition: 0.3s;
  margin-top: 15px;
}

.omikuji-button:hover {
  background: #fff;
  color: #E93429;
  border-color: #E93429;
}

@media screen and (max-width: 400px) {
  .omikuji-headline { font-size: 32px; margin-bottom: 25px; }
  .omikuji-button { font-size: 26px; padding: 10px 20px; border-width: 8px; }
  .omikuji-result img { max-height: 330px; }
}
